[submodule "contracts"]
	path = contracts
	url = https://github.com/quantidexyz/levr-sc.git
[submodule "packages/clanker-sdk"]
	path = packages/clanker-sdk
	url = https://github.com/quantidexyz/clanker-sdk.git
	branch = main
